* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header {
    background-image: url('dm1.jpeg');
    font-weight: bold;
    font-size: clamp(12px, 5vw, 30px);
    color: Khaki;
    text-align: center;
} 

h2 {
    margin-top: 20px;
}

button {
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #789DBC;
    border: 0;
    width: 100%;
}

button:hover {
    background-color: #589DBC;
    transition: background-color 0.75s ease;
    cursor: pointer;
}

.main-product-div {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px
}

h2 {
    background-color: #FFCFB3;

}

.product-description-div {
    margin: 30px
}

div.product-description-div h3 {
    margin-bottom: 10px;
}

.price-div {
    align-items: center;
    align-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #C4D7FF;
}

.copywrite {
    font-size: 8px;
    margin-top: 5px;    
}